.respostaErrada {
  color: red;
  display: block;
}

.respostaCorreta {
  color: blue;
  display: block;
}

.centralizado {
  display: table;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.jogo-titulo {
  position: relative;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin-top: 4em;
  margin-bottom: 1em;
}

.jogo-ui {
  height: 10.5em;
}

.jogo-id {
  display: table;
  border: 0.5em none;
  margin-left: auto;
  margin-right: 2.5%;
  position: relative;
  top: 0px;
  font-size: 1.2em;
  font-weight: bold;
  color: #888888;
}

.servidor-popup {
  background-color: #d0e4f6;
  border-style: solid;
  border-width: 5px;
  border-color: #d0e4f6;
  font-weight: bold;
}

html, body, #conteudo { height: 100%; }
body > #conteudo { height: auto; min-height: 100%; }

#poweredby {
  clear: both;
  position: relative;
  z-index: 10;
  height: 40px;
  margin-top: -40px;
  float: right;
}

#principal { 
  padding-bottom: 40px; 
}

.tituloTabela {
  background-color: #2062B8;
  text-align: center;
  color: white;
  font-style: italic;
}

.corpoTabela {
  border: 1px solid silver;
  padding: 2px;
  margin-bottom:6px;
}
